body {
  margin: 0;
  /* height: 100%; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Hachi Maru Pop', cursive;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Login{
  padding-top: 1px;
  margin-top:-21px;
background-image:url(../src/Images/wave.svg);
height: 100vh; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 
.header{
   /* float:center; */
   margin-left: 40%;
   margin-top: 5%;
   margin-bottom:-14%;
   display: flex;
   font-size:40px;

}

.container-overflow-hidden{
 /* justify-content:center; */
 float:center;
 margin-top: 250px;
 margin-bottom:10%;
 /* padding-bottom:10px; */
 margin-left:50%;
 display:flex;
}

#logbtn{
  height:8vh;
  width: 180%;
  border-radius:40px;
  margin-bottom:20%;
  border-bottom: none;
  text-decoration: 'none';
}
 .header2{
   /* float:center; */
   margin-left: 50%;
   margin-top: 5%;
   margin-bottom:-9%;
   display: flex;
   font-size:60px;

 }

 .form-login{
   font-weight: bold;
  justify-content:center;
  float:center;
  margin-top: 190px;
  /* margin-bottom:10%; */
  padding-bottom:10px;
  margin-left:45%;
  /* display:flex; */
 }
 .form-login input{
  /* font-weight: bold; */
 /* justify-content:center; */
 /* float:center; */
 /* margin-top: 250px; */
 /* margin-bottom:10%; */
 padding-bottom:10px;
 margin-bottom:5%;
 display: inline-block;
 display:flex;
}
.form-login button{
font-weight: bold;
 justify-content:center;
 float:center;
 padding-bottom:10sspx;
 color:rgb(178, 207, 235);
 background-color:rgb(3, 130, 248);
 border-radius: 30px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

#signUpHeader{
  margin-left: 90px;
}

MDBInput {

}