.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom:10px;
}

.post_body >img{
    border-radius: 20px;
    width: 100%;
}
.post_footer{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
.post_badge{
    font-size:14px  !important;
    color: var(--twitter-color);
}
.post_headerSpecial{
    font-size:12px;
    font-weight:600;
    color:gray;
}
.header_description {
    margin-bottom: 5px;
    font-size:15px;
    font-weight:450;
}
.post_body {
    flex:1;
    padding:10px;
}
.post_headerText > h3{
    margin-bottom: 5px;
    margin-top:-3px;
    font-size:15px;
}
.post_avatar {
    padding:20px;
}